body {
    background-color: #fff0ff;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    line-height: 1.6;
    color: #3d0b23;
  }

  h1 {
    color: #EA64A5;
    margin: 0;
  }

  #nome {
    font-family: "Parisienne", cursive;
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  #texto {
    color: #550d30;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 30px;
  }

  h2 {
    color: #9d83fd;
    margin-top: 30px;
  }

  p {
    max-width: 700px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }

  ul li {
    margin: 5px 0;
  }

  img {
    display: block;
    margin: 25px auto 32px;
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 200ms ease, box-shadow 200ms ease, filter 200ms ease;
    will-change: tranform;
}
  

  img.is-expanded {
    transform: scale(1.06);
    box-shadow: 0 16px 44px rgba(240, 67, 140);
  }
  